name: autotests

on:
  pull_request:
  push:
    branches:
      - dev

jobs:

  build:
    runs-on: ubuntu-latest
    container: golang:1.18
    steps:

      - id: commit
        uses: pr-mpt/actions-commit-hash@v1
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Get Branch
        id: branch
        run: echo "git_branch=${GITHUB_REF#refs/heads/}" >> $GITHUB_BRANCH
      - name: Build server binary
        run: |

          cd cmd/server
          mkdir release
          GOOS=windows GOARCH=386 go build -ldflags '-X main.buildVersion="${{ env.branch }}" -X main.buildDate=$(date +"%Y/%m/%d %H:%M:%S") -X main.buildCommit=${{ steps.commit.outputs.short }}' -o release/server.exe
          GOOS=windows GOARCH=amd64 go build -ldflags '-X main.buildVersion="${{ env.branch }}" -X main.buildDate=$(date +"%Y/%m/%d %H:%M:%S") -X main.buildCommit=${{ steps.commit.outputs.short }}' -o release/server64.exe

          GOOS=linux GOARCH=386 go build -ldflags '-X main.buildVersion="${{ env.branch }}" -X main.buildDate=$(date +"%Y/%m/%d %H:%M:%S") -X main.buildCommit=${{ steps.commit.outputs.short }}' -o release/server
          GOOS=linux GOARCH=amd64 go build -ldflags '-X main.buildVersion="${{ env.branch }}" -X main.buildDate=$(date +"%Y/%m/%d %H:%M:%S") -X main.buildCommit=${{ steps.commit.outputs.short }}' -o release/server64

          GOOS=arm GOARCH=386 go build -ldflags '-X main.buildVersion="${{ env.branch }}" -X main.buildDate=$(date +"%Y/%m/%d %H:%M:%S") -X main.buildCommit=${{ steps.commit.outputs.short }}' -o release/server_arm
          GOOS=arm GOARCH=amd64 go build -ldflags '-X main.buildVersion="${{ env.branch }}" -X main.buildDate=$(date +"%Y/%m/%d %H:%M:%S") -X main.buildCommit=${{ steps.commit.outputs.short }}' -o release/server_arm64

          GOOS=darwin GOARCH=386 go build -ldflags '-X main.buildVersion="${{ env.branch }}" -X main.buildDate=$(date +"%Y/%m/%d %H:%M:%S") -X main.buildCommit=${{ steps.commit.outputs.short }}' -o release/server_darwin
          GOOS=darwin GOARCH=amd64 go build -ldflags '-X main.buildVersion="${{ env.branch }}" -X main.buildDate=$(date +"%Y/%m/%d %H:%M:%S") -X main.buildCommit=${{ steps.commit.outputs.short }}' -o release/server_darwin64

      # - name: Build server binary
      #   run: |
      #     cd cmd/shortener
      #     go build -o shortener
 